node_modules/
*.zip
.DS_Store

target
classes
pom.xml
pom.xml.asc
*.jar
*.class
.cpcache
.lein-*
.nrepl-history
.nrepl-port

.portal/
.shadow-cljs/

.clj-kondo/cache/
.lsp/cache/
.calva/
!.calva/config.edn
